.house {
    width: 250px;
    height: 250px;
    border-radius: 1.1rem;
    padding: 1rem;
    background-color: var(--clr-bought);
    border: unset;

    &:not(.bought) {
        background-color: var(--clr-purchaseable);
    }

    ::selection {
        background-color: transparent;
    }

    .house-status {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        height: 100%;
        text-align: center;

        .house-icon {
            text-align: left;
            padding: 0 1rem;
            font-size: 2rem;

            button {
                border: unset;
                background-color: unset;
                font-size: inherit;
            }
        }

        .house-person {
            font-size: 2.25rem;
            pointer-events: none;
        }

        .house-buttons {
            button {
                border: unset;
                font-size: 1rem;
                background-color: #fff;
                padding: 0.5rem;
                border-radius: 0.4rem;
                line-height: 1;
                &:first-of-type {
                    margin-right: 1rem;
                }

                &:hover {
                    &.disabled {
                        cursor: not-allowed;
                    }
                }

                &.disabled {
                    background-color: #aaa;
                }
            }
        }
    }
}
